<!DOCTYPE html>
<html lang="{{ html_lang_setting }}">
<head>
    <meta charset="utf-8">
    <meta name="description" content="Oppslagstjeneste for å enkelt sjekke gjeldende korona status i din kommune, ditt fylke eller landet forøvrig.">
    <meta name="keywords" content="korona, covid-19, corona, korona-tall, korona-statisikk, korona i norge, norge, kommuner, fylker, statistikk, folkehelseinstituttet">
    <meta name="author" content="Sigbjørn Smelror">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ head_title }}</title>
    <link rel="stylesheet" href="/css/bulma.min.css">
    <link rel="shortcut icon" type="image/x-icon" href="/css/favicon.ico" />
</head>
<body>
<section class="hero has-background-info-light">
  <div class="hero-body pt-4">
    <nav class="level">
  <!-- Left side -->
<div class="level-left">
{% block logo %}
{% if languages == 1 %}
<!-- <span class="tag is-danger"><strong> Tester </strong></span>-->
<span class="tag is-warning"><strong> BETA </strong></span>
{% else %}
<div class="dropdown is-hoverable is-primary">
  <div class="dropdown-trigger">
    <button class="button has-icons-right" aria-haspopup="true" aria-controls="dropdown-menu3">
      <span>{{ lang_selector }}</span>
    </button>
  </div>
  <div class="dropdown-menu" id="dropdown-menu3" role="menu">
    <div class="dropdown-content">
      {% for lang in html_lang %}
      <a href="/lang/{{lang}}"" class="dropdown-item">
        {{lang}}
      </a>
      {% endfor %}
    </div>
  </div>
</div>
{% endif %}
{% endblock %}
</div>

  <!-- Right side -->
  
  <!-- "menu_selected": 2, # 1 = hjem, 2=sp, 3=om -->
  
  {% block menu %}
  <div class="field is-grouped level-right is-hidden-mobile"><!-- desktop -->
    {% if menu_selected == 1 %} 
    <p class="level-item"><a href="https://din.kommune.nu" title="Hjem" class="button is-primary"><strong>Hjem</strong></a></p>
    <p class="level-item"><a href="https://sjekk.kommune.nu" title="Sp&oslash;rring" alt="Lag eget utvalg" class="button is-primary">Sp&oslash;rring</a></p>
    <p class="level-item"><a href="https://din.kommune.nu/om" title="Om tjenesten" alt="Om tjenesten" class="button is-primary">Om tjenesten</a></p>
    {% elif menu_selected == 2 %} 
    <p class="level-item"><a href="https://din.kommune.nu" title="Hjem" class="button is-primary">Hjem</a></p>
    <p class="level-item"><a href="https://sjekk.kommune.nu" title="Sp&oslash;rring" alt="Lag eget utvalg" class="button is-primary"><strong>Sp&oslash;rring</strong></a></p>
    <p class="level-item"><a href="https://din.kommune.nu/om" title="Om tjenesten" alt="Om tjenesten" class="button is-primary">Om tjenesten</a></p>    
    {% elif menu_selected == 3 %} 
    <p class="level-item"><a href="https://din.kommune.nu" title="Hjem" class="button is-primary">Hjem</a></p>
    <p class="level-item"><a href="https://sjekk.kommune.nu" title="Sp&oslash;rring" alt="Lag eget utvalg" class="button is-primary">Sp&oslash;rring</a></p>
    <p class="level-item"><a href="https://din.kommune.nu/om" title="Om tjenesten" alt="Om tjenesten" class="button is-primary"><strong>Om tjenesten</strong></a></p>    
    {% else %} 
    <p class="level-item"><a href="https://din.kommune.nu" title="Hjem" class="button is-primary">Hjem</a></p>
    <p class="level-item"><a href="https://sjekk.kommune.nu" title="Sp&oslash;rring" alt="Lag eget utvalg" class="button is-primary">Sp&oslash;rring</a></p>
    <p class="level-item"><a href="https://din.kommune.nu/om" title="Om tjenesten" alt="Om tjenesten" class="button is-primary">Om tjenesten</a></p>
    {% endif %}
  </div>
  <div class="field is-grouped level-right is-hidden-tablet"> <!-- mobile-->
    <p class="level-item">&nbsp;</p><!-- bugfix -->
    {% if menu_selected == 1 %}
    <p class="level-item"><a href="https://din.kommune.nu" title="Hjem" class="button is-primary"><strong>Hjem</strong></a></p>
    <p class="level-item">&nbsp;</p><!-- bugfix -->
    <p class="level-item"><a href="https://sjekk.kommune.nu" title="Sp&oslash;rring" alt="Lag eget utvalg" class="button is-primary">Sp&oslash;rring</a></p>
    <p class="level-item">&nbsp;</p><!-- bugfix -->
    <p class="level-item"><a href="https://din.kommune.nu/om" title="Om tjenesten" alt="Om tjenesten" class="button is-primary">Om tjenesten</a></p>
    {% elif menu_selected == 2 %}
    <p class="level-item"><a href="https://din.kommune.nu" title="Hjem" class="button is-primary">Hjem</a></p>
    <p class="level-item">&nbsp;</p><!-- bugfix -->
    <p class="level-item"><a href="https://sjekk.kommune.nu" title="Sp&oslash;rring" alt="Lag eget utvalg" class="button is-primary"><strong>Sp&oslash;rring</strong></a></p>
    <p class="level-item">&nbsp;</p><!-- bugfix -->
    <p class="level-item"><a href="https://din.kommune.nu/om" title="Om tjenesten" alt="Om tjenesten" class="button is-primary">Om tjenesten</a></p>
    {% elif menu_selected == 3 %}
    <p class="level-item"><a href="https://din.kommune.nu" title="Hjem" class="button is-primary">Hjem</a></p>
    <p class="level-item">&nbsp;</p><!-- bugfix -->
    <p class="level-item"><a href="https://sjekk.kommune.nu" title="Sp&oslash;rring" alt="Lag eget utvalg" class="button is-primary">Sp&oslash;rring</a></p>
    <p class="level-item">&nbsp;</p><!-- bugfix -->
    <p class="level-item"><a href="https://din.kommune.nu/om" title="Om tjenesten" alt="Om tjenesten" class="button is-primary"><strong>Om tjenesten</strong></a></p>
    {% else %}
    <p class="level-item"><a href="https://din.kommune.nu" title="Hjem" class="button is-primary">Hjem</a></p>
    <p class="level-item">&nbsp;</p><!-- bugfix -->
    <p class="level-item"><a href="https://sjekk.kommune.nu" title="Sp&oslash;rring" alt="Lag eget utvalg" class="button is-primary">Sp&oslash;rring</a></p>
    <p class="level-item">&nbsp;</p><!-- bugfix -->
    <p class="level-item"><a href="https://din.kommune.nu/om" title="Om tjenesten" alt="Om tjenesten" class="button is-primary">Om tjenesten</a></p>
    {% endif %}
    <p class="level-item">&nbsp;</p><!-- bugfix -->  
  </div>
  {% endblock %}
</nav>
    <div class="container has-text-centered">
      <h1 class="title is-uppercase is-2 is-hidden-mobile"><!-- desktop -->
        {% if hero_isurl %}
        <a href="https://{{ hero_title }}.kommune.nu" title="{{ hero_title }}.kommune.nu" class="has-text-black">{{ hero_title }}<wbr>.kommune.nu</a>
        {% else %}
        <a href="https://{{ hero_link }}" title="{{ hero_title }}" class="has-text-black">{{ hero_title }}</a>
        {% endif %}
      </h1>
      <h1 class="title is-uppercase is-3 is-hidden-tablet"><!-- mobile-->
        {% if hero_isurl %}
        <a href="https://{{ hero_title }}.kommune.nu" title="{{ hero_title }}.kommune.nu" class="has-text-black">{{ hero_title }}<wbr>.kommune.nu</a>
        {% else %}
        <a href="https://{{ hero_link }}" title="{{ hero_title }}" class="has-text-black">{{ hero_title }}</a>
        {% endif %}
      </h1>      
      <h2 class="subtitle is-3 is-hidden-mobile">{{ hero_subtitle }}</h2><!-- desktop -->
      <h2 class="subtitle is-4 is-hidden-tablet">{{ hero_subtitle }}</h2><!-- mobile  -->
    </div>
  </div>
</section>
{% block tweety %}
{% endblock %}

{% block sector_1 %}&nbsp;
{% endblock %}

{% block sector_2 %}&nbsp;
{% endblock %}

{% block se_bottom %}
<section">
    <div class="container pl-1 pr-1">
        <div class="columns is-centered is-hidden-mobile"><!-- desktop  -->
           <form action="https://sjekk.kommune.nu/" method="get">
            <div class="field has-addons pt-3">
                <p class="control is-hidden-mobile"><!-- desktop -->
                    <input name="s" class="input is-large" type="text" placeholder="Kommune, fylke eller nøkkel*"><!-- use size=13 to keep in place -->
                </p>
                <p class="control is-hidden-mobile">
                    <button type="submit" class="button is-large is-primary">S&oslash;k</button>
                </p>
            </div>
           </form>
        </div>
        <div class="columns is-centered is-hidden-tablet"><!-- mobile  -->
           <form action="https://sjekk.kommune.nu/" method="get">
            <div class="field has-addons pt-3">
                <p class="control is-hidden-tablet"><!-- mobile -->
                    <input name="s" class="input" type="text" size="28" placeholder="Kommune, fylke eller nøkkel*"><!-- use size=13 to keep in place -->
                </p>
                <p class="control is-hidden-tablet">
                    <button type="submit" class="button is-primary">S&oslash;k</button>
                </p>
            </div>
           </form>
        </div>
        <div class="block has-text-centered pb-3">
            <p class="help has-text-grey">* Lag din egen nøkkel (for eksempel &quot;E6&quot;) på <a href="https://sjekk.kommune.nu/hjelp" title="Sp&oslash;rring">denne siden</a>.</p>
        </div>
    </div>
  </div>
</section>
{% endblock %}


<footer class="footer has-background-info-light pb-3 mb-0">
    <div class="content has-text-centered">
        <p>
            Tjenesten <strong>korona.kommune.nu</strong> er laget av <a href="https://din.kommune.nu/om" title="Sigbj&oslash;rn Smelror">Sigbj&oslash;rn Smelror</a> &copy; 2020.
            <br />
            Statistikken hentes regelmessig fra <a href="https://fhi.no" title="FHI: Folkehelseinstituttet">FHI: Folkehelseinstituttet</a>.
        </p>
    </div>
</footer>
</body>
</html>
